.Header_bar {
    background-color: #0078bc;
    color: white;
    padding-block: 10px;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.footer {
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 5px;
    
}

.Main_body {
    border-radius: 10px;
    
}

.btnGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    margin-inline: 100px;
    margin-top: 50px;
}

.btn_check1 {
    color: white;
    background-color: #eb8484;
    padding-inline: 40px;
    padding-block: 20px;
}
.btn_check2 {
    color: white;
    background-color: #648bd6;
    padding-inline: 40px;
    padding-block: 20px;
}
.btn_check3 {
    color: white;
    background-color: #4aa24d;
    padding-inline: 40px;
    padding-block: 20px;
}
.title_text {
    text-decoration: underline;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-block: 40px;
}

.tool_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    margin-inline: 80px;
    margin-block: 10px;
}
.tool_btn {
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px 10px;
    margin: 0px;
    border: solid 0.5px;
}
.table-data {
    margin-inline: 30px;
    height: 500px;
}
.main-addpage{
    margin-block: 10px;
    margin-inline: 15%;
    padding-inline: 30px;
    padding-block: 15px;
    border: solid 2px;
    border-radius: 30px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}
.btn-add-group{
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}
.btn-add-product{
    color: white;
    font-weight: 500;
    background-color: #000000;
    border: solid white 2px;
    border-radius: 10px;
    padding: 10px;
}
.btn-add-product:hover{
    color: white;
    font-weight: 500;
    background-color: #0078bc;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    
}
.btn-cancle{
    color: white;
    font-weight: 500;
    background-color: #ff0000;
    border: solid white 2px;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: medium;

}
.btn-cancle:hover{
    color: white;
    font-weight: 500;
    background-color: #d30000;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: medium;

}
