@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    font-family: 'EB Garamond', serif;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* Adjust padding as needed */
    background-color: #343a40;
    /* Dark background color */
}

.menu-bar i {
    margin-right: 10px;
    /* Adjust margin as needed */
}

.menu-bar h3 {
    margin: 0;
    text-align: center;
}

.text-white {
    color: #fff;
    /* White text color */
}

.box-form {
    padding: 20px;
}

.btn {
    width: 125px;
    border-radius: 2px;
}

.box-form a {
    color: #000;
}

.Question a {
    font-weight: 800;
}

.icon-login i {
    margin: 12px;
    font-size: 33px;
}
.form-control {
background-color: #f2f2f2;
}
